:root {
    --bg_blue_main: #1177FF
}

* {
    /* max-width: 100vw;  */
}

.bt_main {
    width: 100%;
    background-image: url('../images/bt.png');
    height: 50px;
}

.bt_text {
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: center;
    padding-top: 10px;

}

.m-w-fit {
    min-width: fit-content;
}

.p_main {
    padding: 50px 0 0 0;
}

.color_blue {
    color: var(--bg_blue_main);
}

.gap_24 {
    gap: 24px;
}

.congrats_text {
    font-size: 72px;
}

.fs-64 {
    font-size: 64px;
}

.timer_count {
    font-size: 84px;
    line-height: 1;
    text-wrap: nowrap;
}

.timer_text {
    font-size: 32px;
}

.timer,
.checklist {
    background-color: var(--bg_blue_main);
    width: fit-content;
    margin: auto;
    position: relative;
    padding: 14px 64px;
    color: white;
    border-radius: 8px;
    font-size: 32px;
}

.timer {
    /* max-width: 70vw; */
}

.checklist {
    padding: 36px 38px;
}

.timer::before,
.timer::after {
    content: "";
    background-image: url('../images/curly_arrow.png');
    background-size: contain;
    width: 155px;
    height: 170px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
}

.timer::before {
    left: -140px;
}

.timer::after {
    left: calc(100%);
    transform: translateY(-50%) rotateY(180deg);
}

.break_text {
    font-size: 40px;
}

.upgrade {
    font-size: 48px
}

.after_text {
    font-size: 36px;
}

.opp {
    border-radius: 8px;
    border: 2px dashed var(--bg_blue_main);
    background: #1177FF1A;
    padding: 61px 18px;
    overflow: hidden;
}

.timer_Cards {
    min-width: 80vw;
}

.timer_Cards .card {
    color: white;
    padding: 27px 11px;
    border-radius: 8px;
    height: 100%;
    border: none;
    min-height: 233px;
    min-height: 233px;
    position: relative;
    min-width: fit-content;
    width: 100%;
    margin-bottom: 10px;
}

.card1::after,
.card2::after {
    background-image: url('../images/plus.png');
    content: "";
    background-size: contain;
    width: 23px;
    height: 23px;
    position: absolute;
    top: calc(50% - 12px);
    right: -14px;

    transform: translateY(50%);
    background-repeat: no-repeat;
}

.card_green {
    background: #00D749;
    position: relative;
}

.card_green::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0px;
    width: 113px;
    border-top-left-radius: 8px;
    height: 85px;
    background-color: red;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    transform: rotate(0deg);
    color: white;
    font-size: 16px;
    text-align: center;
}

.card_green p:first-child {
    padding-left: 24px;
    padding-top: 15px;
}

.card_green p:nth-child(2) {
    line-height: 1;
}

.card_green span {
    position: absolute;
    top: 13px;
    left: 9px;
    font-size: 14px;
    transform: rotate(328deg);
    font-weight: 900;

}

.card_included {
    background: #2A64B2;
}

.bg-light-blue {
    background-color: #E0EEFFCC;
    background-image: url('../images/bg-chart.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-position-y: -120px;
}

.bg-light-blue::after {
    content: "";
    background-color: #E0EEFFCC;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    z-index: 1;
}

.content-wrapper {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.winners_text {
    font-size: 32px;
    font-weight: 32px;
    padding-bottom: 77px;
    width: fit-content;
    max-width: 80vw;
    margin: auto;
}

.bg-light-bottom {
    background: #EFEFEF;
    /* width: 100vw; */
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 74px;
    padding-bottom: 74px;

}

.checklist_text {
    font-size: 24px;
}

.banner__form {
    width: fit-content;
    margin: auto;
}

.winners_text.ca-1::after,
.banner__form.ca-1::after {
    content: "";
    background-image: url(../images/curly_arrow2.png);
    background-size: contain;
    width: 170px;
    height: 115px;
    position: absolute;
    background-repeat: no-repeat;
    right: -162px;
}

.discover {
    background: #E0EEFF80;
    border: 2px dashed #1177FF;
    border-radius: 8px;
    padding: 24px;
}

.discover form {
    background: #0000001A;
    padding: 12px 16px;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 16px;
}

@media (max-width: 992px) {
    .bt_text {
        font-size: 18px;
    }

    .congrats_text,
    .fs-64 {
        font-size: 48px;
    }

    .timer {
        padding: 14px 20px;
        width: 70%;
    }

    .timer::before,
    .timer::after {
        width: 80px;
        height: 170px;
    }

    .timer::before {
        left: -100px;
    }

    .timer_Cards .card {
        min-height: auto;
        padding: 14px 20px;
    }

    .card1::after,
    .card2::after {
        top: 29%;
    }

    .timer_count {
        font-size: 40px;
    }

    .timer_text {
        font-size: 18px;
    }

    .upgrade {
        font-size: 22px;
    }

    .break_text {
        font-size: 22px;
    }

    .winners_text.ca-1::after,
    .banner__form.ca-1::after {
        content: "";
        background-image: url(../images/curly_arrow2.png);
        background-size: contain;
        width: 170px;
        height: 115px;
        position: absolute;
        transform: translateY(15%) translateX(-13%) rotate(14deg);
        background-repeat: no-repeat;
        right: -162px;
    }
}
@media (max-width: 576px) {
    .card1::after, .card2::after{
        left: 50%;
        top: 88%;
    }
}
@media (max-width: 500px) {
    .bt_text {
        font-size: 12px;
    }

    .congrats_text,
    .fs-64 {
        font-size: 35px;
    }

    .checklist_text {
        font-size: 18px;
    }
    .winners_text{
        max-width: 100%;
    
    }
    .winners_text.ca-1::after,
    .banner__form.ca-1::after,
    .timer::before,
    .timer::after {
        display: none;
    }

    .timer { 
        padding: 14px 20px;
        width: 90%;
    }

    .timer_Cards {
        max-width: 98vw;
        margin: auto;
    }

    .timer_Cards .card {
        min-height: fit-content;
    }

    .bg-light-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
    }
   
}
